.registro-container{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

h2{
    text-align: center;
    color: #2c3e50;
    font-family: Arial, Helvetica, sans-serif;

}

.form-control{
    margin-bottom: 15px;
}

.form-control label{
    display: block;
    margin-bottom: 5px;
    color: #34495e;
    font-family: Arial, Helvetica, sans-serif;

}

.form-control input{
    width: 95.5%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;


}



.form-control.succes input{
    color: #09c372;
    margin-top: 5px;
    
}

.form-control.error input{
    color: red;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    height: 13px;
    
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #27ae60;
    color: white;
    font-size: 16px;
    cursor: pointer;
    
}

button:hover{
    background-color: #2ecc71;
}